PORT=37601

BASE_URL=https://tomco-sko.oktapreview.com

OKTA_API_KEY=

PUBLIC_PASSWORD=

FORTER_TENANT=https://63bf0782ae27.api.forter-secure.com
FORTER_KEY=
FORTER_SITE_ID=63bf0782ae27
FORTER_EU=22g4zl{5jf5fjtlv1forxgiurqw1qhw2vwdwxv
