{% extends 'layouts/app.html' %}

{% block main %}
<div
    class="grid grid-cols-2 gap-x-4 gap-y-8 items-center rounded-xl p-8 bg-gray-50 border border-gray-100" x-data="{open: false}" id="reg_form"
>
    <div class="col-span-2 flex justify-between items-center">
        <h1 class="text-xl font-bold">Sign Up</h1>

        <div class="relative">
            <button
                type="button"
                class="inline-flex items-center gap-2 font-bold"
                @click="open = !open"
            >
                <span>Users</span>

                <span
                    class="mt-1 border-transparent border-t-current border-4 duration-200"
                    :class="{ 'rotate-180 -mt-1': open }"
                ></span>
            </button>

            <div
                class="py-1 absolute mt-2 right-0 rounded-lg bg-white w-40 shadow-md border border-gray-300 overflow-hidden"
                x-show="open"
                x-transition
                x-cloak
                @click.outside="open = false"
            >
                {% for username, data in users %}

                {% if data.registration %}

                <button
                    type="button"
                    class="block w-full text-left px-4 py-2 hover:bg-gray-50"
                    @click="select_user('{{username}}')"
                >{{ data.full_name }}</button>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <label class="block space-y-2">
        <span class="block font-bold">First Name</span>

        <input
            type="text"
            id="first_name"
        >
    </label>

    <label class="block space-y-2">
        <span class="block font-bold">Last Name</span>

        <input
            type="text"
            id="last_name"
        >
    </label>

    <label class="block space-y-2 col-span-2">
        <span class="block font-bold">Email Address</span>

        <input
            type="email"
            id="email"
        >
    </label>

    <label class="block space-y-2 col-span-2">
        <span class="block font-bold">Password</span>

        <input
            type="password"
            id="password"
        >
    </label>

    <button
        type="button"
        class="btn col-span-2"
        onclick="register()"
    >Go</button>

</div>

{% include 'partials/already-have.html' %}

<div class="rounded-xl p-8 bg-gray-50 border border-gray-100 space-y-8" id="reg_decline" style="display: none;">
    <h1 class="text-xl font-bold">Sign In</h1>
    <p>Sorry, something is not quite right. Please contact customer support for further assistance.</p>
    {% include "partials/decision-decline.html" %}

    <a
        href="#"
        class="btn w-full"
    >Back</a>

{% include "partials/contact-support.html" %}

</div>

<div class="rounded-xl p-8 bg-gray-50 border border-gray-100 space-y-8" id="reg_approve" style="display:none">
    <h1 class="text-xl font-bold">Success!</h1>
    <p>Thanks for creating an account with us, <span id="first_name_welcome"></span>!</p>
    {% include "partials/decision-approve.html" %}
</div>


{% endblock %}