
<div id = "sign_up_form" style = "width: 300px">

    <h1>Sign up.</h1>

	<div id = "reg_error_msg" style = "display: none;"></div>

	<div id = "reg_form">
		<form>

		  <div class="mb-3">
		    <label for="first_name" class="form-label">First name</label>
		    <input type="text" class="form-control" id="first_name" aria-describedby="emailHelp" size=20>
		  </div>

		  <div class="mb-3">
		    <label for="last_name" class="form-label">Last name</label>
		    <input type="text" class="form-control" id="last_name" aria-describedby="emailHelp">
		  </div>

		  <div class="mb-3">
		    <label for="exampleInputEmail1" class="form-label">Email address</label>
		    <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
		    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
		  </div>

		  <div class="mb-3">
		    <label for="exampleInputPassword1" class="form-label">Password</label>
		    <input type="password" class="form-control" id="password">
		  </div>

		</form>

		<button class="btn btn-primary" onclick="register()">go</button>
	</div>

	<div id = "reg_result" style="display:none"></div>

</div>
